<!DOCTYPE html>
<html ng-app="app">
<head>

    <!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Clients</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#clients-list			{ margin-bottom:30px; }
		#clients-form 	    	{ margin-bottom:50px; }
	</style>

    <script src="node_modules/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/appController.js"></script>
    <script src="js/appService.js"></script>
</head>
<body ng-controller="appController">
    <div class="container">

            <div class="jumbotron text-center">
                <h1>We have <span class="label label-info">{{ clients.length }}</span> Clients</h1>
            </div>
        <div id="client-list" class="row">
                <div class="col-sm-4 col-sm-offset-4">

                    <div class="checkbox" ng-repeat="client in clients">
                        <label>
                            <input type="checkbox" ng-click="deleteClient(todo.id)"> {{ client.firstName }}
                        </label>
                    </div>

                    <p class="text-center" ng-show="loading">
                        <span class="fa fa-spinner fa-spin fa-3x"></span>
                    </p>

                </div>
        </div>
    </div>
</div>
</body>
</html>